.wrapper {
	padding: 15px 20px;
	border: 1px dashed #ff6c60;
}

.left {
	width: 120px;
	border: 5px solid #ddd;
}

.right {
	margin-left: 20px;
	border: 5px solid #ddd;
}

.wrapper {
	overflow: hidden;
}

.wrapper .left {
	float: left;
}

.wrapper .right {
	margin-left: 150px;
}